@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoEmoji';
  src: url('./NotoColorEmoji-flagsonly.ttf') format('truetype');
}

@layer components {
  .card {
    @apply rounded-xl bg-base-100 shadow-md;
  }
  .collapse {
    @apply rounded-xl bg-base-100 shadow-md;
  }
}

.custom-background.custom-background-30 {
  .card,
  .collapse {
    @apply bg-base-100/30;
  }
  .table {
    @apply bg-base-100/30;
    tbody tr:nth-child(even) {
      @apply bg-base-200/30;
    }
  }
  .drawer-side,
  .tabs,
  .bg-base-200 {
    @apply bg-base-200/30;
  }
}

.custom-background.custom-background-60 {
  .card,
  .collapse {
    @apply bg-base-100/60;
  }
  .table {
    @apply bg-base-100/60;
    tbody tr:nth-child(even) {
      @apply bg-base-200/60;
    }
  }
  .drawer-side,
  .tabs,
  .bg-base-200 {
    @apply bg-base-200/60;
  }
}

.custom-background.custom-background-90 {
  .card,
  .collapse {
    @apply bg-base-100/90;
  }
  .table {
    @apply bg-base-100/90;
    tbody tr:nth-child(even) {
      @apply bg-base-200/90;
    }
  }
  .drawer-side,
  .tabs,
  .bg-base-200 {
    @apply bg-base-200/90;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
