@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoEmoji';
  src: url('./NotoColorEmoji-flagsonly.ttf') format('truetype');
}

@layer components {
  .card {
    @apply rounded-xl bg-base-100 shadow-md;
  }
  .collapse {
    @apply rounded-xl bg-base-100 shadow-md;
  }
}

.custom-background {
  .card {
    @apply bg-base-100/90;
  }
  .collapse {
    @apply bg-base-100/90;
  }
  .table {
    @apply bg-base-100/90;
  }
  .drawer-side {
    @apply bg-base-200/90;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
