@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

@config '../../tailwind.config.ts';

@utility card {
  @apply bg-base-100 rounded-lg shadow-md;
  .card-body {
    @apply p-4;
  }
}

@utility collapse {
  @apply bg-base-100 rounded-lg shadow-md;
}

@utility select {
  @apply w-auto;
}

@utility btn {
  @apply border-none;
}

@utility tabs {
  .tab {
    @apply px-2;
  }
  .tab.tab-active {
    @apply bg-primary text-primary-content;
  }
}

@utility table {
  & tr {
    @apply border-b-0;
  }
}

.select.select-sm,
.input.input-sm,
.btn.btn-sm,
.tabs.tabs-xs .tab {
  @apply text-sm;
}

@layer utilities {
  @font-face {
    font-family: 'NotoEmoji';
    src: url('./NotoColorEmoji-flagsonly.ttf') format('truetype');
  }
}

@for $i from 0 to 100 {
  .custom-background.custom-background-$(i) {
    .bg-base-100,
    .bg-primary,
    .card,
    .collapse,
    .tabs {
      @apply bg-base-100/$(i);
    }

    .bg-base-200,
    .dock,
    .table tbody tr:nth-child(even) {
      @apply bg-base-200/$(i);
    }

    .bg-primary:not(.tab.tab-active) {
      @apply bg-primary/$(i);
    }

    .bg-primary .latency-tag.bg-base-100 {
      @apply bg-base-300/$(i);
    }

    .home-page.bg-base-200\/50 {
      background-color: transparent;
    }
  }
}

.tippy-box {
  @apply bg-neutral text-neutral-content z-9999 shadow-md;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  @apply border-t-neutral;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  @apply border-r-neutral;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  @apply border-b-neutral;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  @apply border-l-neutral;
}

@media screen and (max-width: 768px) {
  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: all 0.2s ease-in-out;
  }

  .slide-left-enter-to,
  .slide-right-enter-to {
    width: 100vw;
    transform: translateX(0);
    opacity: 1;
  }

  .slide-left-enter-from {
    width: 100vw;
    transform: translateX(100%);
    opacity: 0;
  }

  .slide-right-enter-from {
    width: 100vw;
    transform: translateX(-100%);
    opacity: 0;
  }

  .slide-left-leave-to,
  .slide-left-leave-from,
  .slide-right-leave-to,
  .slide-right-leave-from {
    display: none;
  }
}

div {
  @apply scrollbar-thin;
}
